<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Conference Form</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="./images/st-johns-vector-logo-color-OUTLINED.png " style="height: 1px;">
    <script src="script.js"></script>
  </head>
  <body>
    
    <main>
      <div class="fullscreen">
        <div class="belownav">
          <div class="items">
            <h1>2021-2022 St. Johns Country Day School Parent/Teacher Conference Form</h1>
              <div class="maininformation">
          <div>
            <label for="studentname">Student Name: </label>
            <input type="text" id="studentname">
          </div>
          <div>
            <label for="teachername">Teacher Name: </label>
            <select name="teachername" id="teachername" >
              <option value="">Select a Teacher</option>
              <option value="Kelsey Dennis">Pre-K3: Kelsey Dennis</option>
              <option value="Jennifer Frisbee">Pre-K4: Jennifer Frisbee</option>
              <option value="McCall Morgan">Kindergarten: McCall Morgan</option>
              <option value="Teré Joy Smith">Kindergarten: Teré Joy Smith</option>
              <option value="Missy Ingram">Grade 1: Missy Ingram</option>
              <option value="Erin Willingham">Grade 1: Erin Willingham</option>
              <option value="Holly Jackson">Grade 2: Holly Jackson</option>
              <option value="Abigail Walker">Grade 2: Abigail Walker</option>
              <option value="Amanda Powers">Grade 3: Amanda Powers</option>
              <option value="Sophia Hewitt">Grade 3: Sophia Hewitt</option>
              <option value="Jennifer Keller">Grade 4: Jennifer Keller</option>
              <option value="Isy Milne">Grade 4: Isy Milne</option>
              <option value="Nicole Thompson">Grade 5: Nicole Thompson</option>
              <option value="Maura Rupert">Grade 5: Maura Rupert</option>
              <option value="Mary Beth Allgaier">Art: Mary Beth Allgaier</option>
              <option value="Cody Riker">Drama: Cody Riker</option>
              <option value="Kim Price">French: Kim Price</option>
              <option value="Liz Brink">Music: Liz Brink</option>
              <option value="Marinette Gomez">Music: Marinette Gomez</option>
              <option value="Michael Warren">Music: Michael Warren</option>
              <option value="Brad Schmidt">PE: Brad Schmidt</option>
              <option value="Christie Slaughter">PE: Christie Slaughter</option>
              <option value="Mike Pickett">PE: Mike Pickett</option>
              <option value="Amy Johnson">SS: Amy Johnson</option>
              <option value="Diane Landers">SS: Diane Landers</option>
              <option value="Lisa Rosenau">SS: Lisa Rosenau</option>
              <option value="Otis Wirth">LSH: Otis Wirth</option>
              
            </select>

            
          </div>
         
          </div>
      

              

          </div>
        </div>
      </div>
      <div class="navbar">
        <div class="logo">
          <img id="logo" src="./images/st-johns-vector-logo-color-OUTLINED.png" alt="SJlogo">
        </div>
        <div class="menu">
          <div>
            <a href="/home" style="text-decoration: none;"><h2>Home</h2></a>
          </div>
          <div>
            <a href="/find" style="text-decoration: none;"><h2>View</h2></a>
          </div>
          <div class="userprofile">
            
          </div>
        </div>
        
      
      </div>
    </main>
    

    

    

    
  </body>
</html> 
