<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Conference Form</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="./images/st-johns-vector-logo-color-OUTLINED.png " style="height: 1px;">
    <script src="script.js"></script>
  </head>
  <body>
    
    <main>
      <div class="fullscreen">
        <div class="belownav">
          <div class="items">
            <h1>2021-2022 St. Johns Country Day School Parent/Teacher Conference Form</h1>
              <input type="file" id="file">

             <button onclick="uploadSubmit()" >Submit</button>
      

              

          </div>
        </div>
      </div>
      <div class="navbar">
        <div class="logo">
          <img id="logo" src="./images/st-johns-vector-logo-color-OUTLINED.png" alt="SJlogo">
        </div>
        <div class="menu">
          <div>
            <a href="/home" style="text-decoration: none;"><h2>Home</h2></a>
          </div>
          <div>
            <a href="/find" style="text-decoration: none;"><h2>View</h2></a>
          </div>
          <div class="userprofile">
            
          </div>
        </div>
        
      
      </div>
    </main>
    

    

    

    
  </body>
</html> 
